<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>RegisterRealCustomerServlet</servlet-name>
        <servlet-class>presentation.RegisterRealCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterRealCustomerServlet</servlet-name>
        <url-pattern>/RegisterRealCustomerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterLegalCustomerServlet</servlet-name>
        <servlet-class>presentation.RegisterLegalCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterLegalCustomerServlet</servlet-name>
        <url-pattern>/RegisterLegalCustomerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchRealCustomerServlet</servlet-name>
        <servlet-class>presentation.SearchRealCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchRealCustomerServlet</servlet-name>
        <url-pattern>/SearchRealCustomerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchLegalCustomerServlet</servlet-name>
        <servlet-class>presentation.SearchLegalCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchLegalCustomerServlet</servlet-name>
        <url-pattern>/SearchLegalCustomerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteRealCustomerServlet</servlet-name>
        <servlet-class>presentation.DeleteRealCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteRealCustomerServlet</servlet-name>
        <url-pattern>/DeleteRealCustomerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteLegalCustomerServlet</servlet-name>
        <servlet-class>presentation.DeleteLegalCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteLegalCustomerServlet</servlet-name>
        <url-pattern>/DeleteLegalCustomerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateRealCustomerServlet</servlet-name>
        <servlet-class>presentation.UpdateRealCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateRealCustomerServlet</servlet-name>
        <url-pattern>/UpdateRealCustomerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateLegalCustomerServlet</servlet-name>
        <servlet-class>presentation.UpdateLegalCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateLegalCustomerServlet</servlet-name>
        <url-pattern>/UpdateLegalCustomerServlet</url-pattern>
    </servlet-mapping>
</web-app>